/*<style>.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

</style>*/

body {
    
    background: #0D1A2D;
    margin: 5px;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
.container {
        position: relative;
        border-radius: 20px;
        height: 600px;
        width: 400px;            
        background: #14273F;
}
.image img {
    width: 360px;
    height: 280px;
    border-radius: 10px;
    position: absolute;
   left: 20px;
   top: 20px;
}
.text1 {
    position: absolute;
    top: 330px;
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: white;
    left: 20px;
    cursor: pointer;
}
.text2 {
    color: #7D91AD;
    position: absolute;
    top: 380px;
    left: 20px;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 300;

}
.text3 {
    color: #33FAF8;
    position: absolute;
    top: 460px;
    left: 20px;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.text4 {
    position: absolute;
    top: 460px;
    left: 270px;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.linea {
    background: #2E4058;
    position: absolute;
    top: 500px;
    left: 20px;
    height: 1px;
    width: 360px;

}
.perfil img {
    position: absolute;
    top: 530px;
    left: 20px;
    width: 40px;
    height: 40px;
}
.text5 {
    color: #7D91AD;
    position: absolute;
    top: 540px;
    left: 80px;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.text6 {
    color: white;
    position: absolute;
    top: 540px;
    left: 175px;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 300;
}


/*    position: absolute;
    text-align: center;
    top: 350px;
    left: 330px px;
    right: 7px;
    height: 35px;
    width: 240px;
    border-radius: 5px;
    border: none;
    backface-visibility: hidden;*/
    
    
  