.attribution {
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


body {

    background: #0D1A2D;
    margin: 5px;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.container {
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    height: 640px;
    width: 400px;
    background: #14273F;
    box-shadow: 1px 1px 30px 30px #0B182C;
}
.image {
    position: relative;
        width: 399px;
        height: 329px;
        border-radius: 12px;
        background-color: hsl(178, 100%, 50%);
}
.image img {
    width: 400px;
    height: 330px;
    border-radius: 10px;
}
.image svg {
        display: none;
        }
.image:hover svg {
    top: 10px;
    left: 0;
    display: block;
    position: absolute;
    width: 50px;
    cursor: pointer;
    border-radius: 10px;
    padding: 125px 180px 128px 180px;
    transition: 0.3s;
}
.image:hover img{
    opacity: 0.5;
}
.text1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    padding: 44px 0px 20px 0px;
    color: white;
    width: 247px;
}
.text1:hover {
    color: hsl(178, 100%, 50%);
}
.text2 {
    font-family: 'Outfit', sans-serif;
        font-weight: 300;
        font-size: 25px;
        color: hsl(215, 51%, 70%);
}
.text3 {
width: 160px;
color: hsl(178, 100%, 50%);
font-family: 'Outfit', sans-serif;
font-weight: 400;
font-size: 20px;
padding: 20px 0px 0px 0px;
}
.text3 svg {
    padding-right: 5px;
}
.text4 {
    text-align: right;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 20px 0px 0px 0px;
    margin-top: -45px;
}
.text4 svg {
    padding-right: 5px;
}
.linea {
    background: #2E4058;
    width: 400px;
    height: 0.1px;
    margin-top: 30px;
}
.perfil {
    margin-top: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1.5px white;
}
.perfil img {
    width: 40px;
        height: 40px;
}
.text5 {
        color: hsl(215, 51%, 70%);
        font-family: 'Outfit', sans-serif;
        font-weight: 300;
        font-size: 20px;
        padding: 11px 0px 0px 60px;
        margin-top: -45px;
}
.text6 {
        color: white;
        font-family: 'Outfit', sans-serif;
        font-weight: 300;
        font-size: 20px;
        padding: 11px 0px 0px 170px;
        margin-top: -36px;
        cursor: pointer;
        width: 116px;
}
.text6:hover {
    color: hsl(178, 100%, 50%);
}

@media screen and (max-width: 375px) {
    body {
    
            background: #0D1A2D;
            margin: 5px;
            height: 100vh;
            width: 100%;
            display: grid;
            place-items: center;
        }
    
        .container {
            padding: 20px 20px 20px 20px;
            border-radius: 20px;
            height: 640px;
            width: 340px;
            margin: 20px 20px 20px 20px;
            background: #14273F;
            box-shadow: 1px 1px 30px 30px #0B182C;
        }
    
        .image {
            position: relative;
            width: 340px;
            height: 330px;
            border-radius: 12px;
            background: none;
        }
    
        .image img {
            width: 340px;
            height: 330px;
            border-radius: 10px;
        }
    
        .image svg {
            display: none;
        }
        .text1 {
            font-family: 'Outfit', sans-serif;
            font-weight: 600;
            font-size: 30px;
            cursor: pointer;
            padding: 44px 0px 20px 0px;
            color: white;
            width: 247px;
                }
        .text2 {
            font-family: 'Outfit', sans-serif;
            font-weight: 300;
            font-size: 25px;
            color: hsl(215, 51%, 70%);
            }
                
            .text3 {
            width: 160px;
            color: hsl(178, 100%, 50%);
            font-family: 'Outfit', sans-serif;
            font-weight: 400;
            font-size: 20px;
            padding: 20px 0px 0px 0px;
            }
                
            .text3 svg {
            padding-right: 5px;
            }
                
            .text4 {
            text-align: right;
            color: hsl(215, 51%, 70%);
            font-family: 'Outfit', sans-serif;
            font-weight: 300;
            font-size: 20px;
            padding: 20px 0px 0px 0px;
            margin-top: -45px;
            }
                
            .text4 svg {
            padding-right: 5px;
            }
                
            .linea {
            background: #2E4058;
            width: 340px;
            height: 0.1px;
            margin-top: 30px;
            }
                
            .perfil {
            margin-top: 30px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: 0px 0px 1px 1.5px white;
            }
                
            .perfil img {
            width: 40px;
            height: 40px;
            }
                
            .text5 {
            color: hsl(215, 51%, 70%);
            font-family: 'Outfit', sans-serif;
            font-weight: 300;
            font-size: 20px;
            padding: 11px 0px 0px 60px;
            margin-top: -45px;
            }
                
            .text6 {
            color: white;
            font-family: 'Outfit', sans-serif;
            font-weight: 300;
            font-size: 20px;
            padding: 11px 0px 0px 170px;
            margin-top: -36px;
            cursor: pointer;
            width: 116px;
            }
            
            
            .attribution {
            font-size: 25px;
            font-family: 'Outfit', sans-serif;
            text-align: center;
            }
            
            .attribution a {
            color: hsl(228, 45%, 44%);
            }
}